* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --primary-color:rgba(0, 0, 0, 0.596);
    --secondary-color:rgb(9, 162, 250);
    --color:rgba(0, 0, 0, 0.521);
}
body{
    height:100vh;
    text-align: center;
}
.icons{
    display: inline-block;
    width:100px;
    text-align: center;
    font-size: 120%;
    line-height:120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}
.service-icons{
    display: inline-block;
    width:20px;
    text-align: center;
    font-size: 120%;
    line-height:120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}
.header-content{
    background-color: rgba(110, 212, 212, 0.486);
    max-width:1280px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 40px;
}
span{
    font-size: 1.7rem;
    font-weight:bold;
    color:rgba(0, 0, 0, 0.596) ;
}
.nav{
    display: flex;
    gap:25px;
}
.nav-link{
    color: var(--color);
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition:color 0.2s , border-bottom 0.2s;
}
.nav-link:hover{
    color: blue;
    border-bottom:2px solid blue;
}
.username{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(110, 212, 212, 0.486);
    color: blue;
    padding: 8px 14px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    min-height: 55px;
    min-width: 110px;
    height: 34px;
    font-size: 14px;
    transition: color 0.2s, background-color 0.2s;
}
.username:hover{
    color: white;
    background-color: rgb(9, 162, 250);
}
.main-section{
    max-width: 1280px;
    display: flex;
    gap:2rem;
    padding:0.6rem;
    align-items: center;
    margin: 0 auto;
    margin-top:40px;
}
.left{
    text-align: start;
    padding:50px;
}
.heading1{
    color:rgba(0, 0, 0, 0.596);
    font-size:2.8rem;
    margin-bottom: 16px;
}
.heading2{
    color:rgba(0, 0, 0, 0.596);
    font-size:2.8rem;
    margin-bottom: 16px;
}
.heading3{
    color:blue;
    font-size:2.8rem;
    margin-bottom: 16px;
}
.description{
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 560px;
}
.book-button{
    margin-top:27px;
    display: flex;
    align-items: center;
}
.book-service{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(110, 212, 212, 0.486);
    color: blue;
    /* border:2px solid blue; */
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    min-height: 55px;
    min-width: 110px;
    height: 34px;
    font-size: 14px;
    border:none;
    transition: color 0.2s, background-color 0.2s;
}
.book-service:hover{
    color: white;
    background-color: rgb(9, 162, 250);
}
.cart{
    margin-top:15px;
    display: flex;
    color: blue;
    margin-bottom:10px;
}
.help{
    max-width:1280px;
    margin:0 auto;
}
.laundry-content{
    display: flex;
    flex-direction: start;
    gap:15px;
    margin-top:50px;
    padding:10px 20px;

}
.box-heading{
    color: blue;
    /* display: flex;
    justify-content: start; */
    margin-bottom:10px;
}
.box-des{
    color:rgba(0, 0, 0, 0.473) ;
    margin-bottom:50px;
    /* display: flex;
    justify-content: start; */

}
.subscribe-section{
    max-width:1280px;
    margin:0 auto;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(110, 212, 212, 0.486);
    padding:50px;
    /* align-items: center; */
}
.subscribe-heading h2{
    font-size: 3rem;
    color: blue;
    display: flex;
}
.full-name{
    margin-bottom:10px
}
.two{
    display: flex;
}
#full-name{
    padding:20px 60px;
    border:0;
    transition: all ease 0.2s ;
}
#full-name:hover{
    border:2px solid orangered;
}
.subscribe-button button{
    background-color:blue;
    padding:20px 60px;
    width:195px;
    border:0;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    transition: all ease 0.2s;

}
.subscribe-button button:hover{
    color: blue;
    background-color:white ;
    border:2px solid blue;
}
.email{
    display: flex;
    flex-direction: start;
    margin-bottom:10px;
}
#email-input{
    padding:20px 60px;
    border:0;
    transition: all ease 0.2s ;
}
#email-input:hover{
    border:2px solid orangered;
}
.container{
    max-width:1280px;
    margin:0 auto;
}
.footer-section{
    /* border-right:2px solid rgba(0, 0, 0, 0.274); */
    background-color:#F0F8FF ;
    padding:40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-logo,.about,.footer-des1,.important,.important-des1,.mail-des1,.follow-des1,.follow-des2{
    display: flex;
}
.footer-logo{
    margin-bottom: 20px;
}
.about{
    font-weight: bold;
}
