*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    width:100vw;
}
.container{
    background-color:azure;
    max-width:1280px;
    display: flex;
    gap:2rem;
    padding:0.6rem;
    align-items: center;
    margin:0 auto;
    flex-direction: column;
}
.greet{
    background-color: aliceblue;
    text-align: center;
    margin:0 auto;
    padding:1.8rem;
}
.hello{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.boxes{
    display: flex;
    justify-content: center;
    gap:70px;
    padding:4rem;
    margin:0 auto;

}
.box{
    height:300px;
    width:300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.7rem;
    background-color: white;
}
#box1:hover{
    color: red;
    border:3px solid red;
}
#box2:hover{
    color:blue;
    border:3px solid blue;
}
#box3:hover{
    color: green;
    border:3px solid green;
}
#box4:hover{
    color: yellow;
    border:3px solid yellow;
}
.greet-name{
    display: flex;
    justify-content: center;
    padding:3rem;
    margin-top:2rem;
    gap:0.4rem;
}
#name{
    height:2.8rem;
    width:11rem;
    padding:1rem;
}
#name:hover{
    border: 2px solid orangered;
}
button{
    height:auto;
    width:4rem;
    border: none;
    background-color:darkgrey;
}
button:hover{
    border:2px solid white;
    color: white;
}

